<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


<bean class="in.sp.beans.Address" id="address">
<property name="no" value="12"></property>
<property name="city" value="Pune"></property>

</bean>

<bean class="in.sp.beans.Student" id="stud1" autowire="byName">

<property name="Name" value="Tanvir"></property>



</bean>
</beans>